<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         timeoutForSmallTests="900"
         timeoutForMediumTests="900"
         timeoutForLargeTests="900"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true">
  <testsuite name="unit">
    <directory>./tests/Unit</directory>
  </testsuite>
  <source>
    <include>
      <directory suffix=".php">./</directory>
    </include>
    <exclude>
      <directory suffix=".php">./appinfo</directory>
      <directory suffix=".php">./l10n</directory>
      <directory suffix=".php">./templates</directory>
      <directory suffix=".php">./tests</directory>
      <directory suffix=".php">./vendor</directory>
      <directory suffix=".php">./node_modules</directory>
      <directory suffix=".php">./lib/Migration</directory>
      <directory suffix=".php">./lib/OcrProcessors/Remote/Client/Model</directory>
      <file>./lib/OcrProcessors/Remote/Client/Configuration.php</file>
      <file>./lib/OcrProcessors/Remote/Client/ObjectSerializer.php</file>
      <file>./.php-cs-fixer.dist.php</file>
    </exclude>
  </source>
</phpunit>
