name: Static analysis (PSALM)

on:
  pull_request:
  push:
    branches:
      - master
      - stable*

jobs:
  static-psalm-analysis:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ocp-version: [ 'dev-stable33' ]
        php-version: [ '8.4' ]

    name: Nextcloud ${{ matrix.ocp-version }} PHP${{ matrix.php-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: none

      - name: Install dependencies
        run: composer i

      - name: Install dependencies
        run: composer require --dev nextcloud/ocp:${{ matrix.ocp-version }}

      - name: Run coding standards check
        run: composer run psalm -- --php-version=${{ matrix.php-version }}